<tr>
	<%= form_for [:admin, @post], html: {class: 'form-horizontal ng-pristine ng-valid'}, remote: true do |f| %>
	  <% if @admin_post.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this admin_post from being saved:</h2>

	      <ul>
	      <% @post.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	  <div class="row">
	    <div class="col-md-6">
	      <%= f.label :url %><br>
	      <%= f.text_field :url, class: 'form-control' %>
	    </div>
	    <div class="col-md-1">
	      <%= f.label :price %><br>
	      <%= f.text_field :price, class: 'form-control' %>
	    </div>
	    <div class="col-md-4">
	      <%= f.label :listing_company %><br>
	      <%= f.text_field :listing_company, class: 'form-control' %>
	      <%= f.hidden_field :post_id %>
	    </div>

	    <div class="actions col-md-1 align-bottom">
		  <%= f.submit "Update" %>
		</div>
	  </div>
	<% end %>
</tr>